body {
    margin: 0;
}
nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
nav .menu {
    display: flex;
}

nav .menu a {
    text-decoration: none;
    color: #000000;
    padding: 0 10px;
    border-top: 3px solid #ffffff;
    display: flex;
    align-items: center;
}
nav .menu a:hover,
nav .menu a.active {
    border-top-color: #60AED1;
}
#Accueil {
    position: relative;
    overflow: hidden;
}
#Accueil img {
    width: 100%;
}
#Accueil .texte {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}
#Accueil .texte h1 {
    text-transform: uppercase;
    margin: 0;
    width: 450px;
}
#Accueil .texte h1 .blue{
    color: #60AED1;
}
#Accueil .texte button {
    background-color: #60AED1;
    border: 1px solid #60AED1;
    color: #fff;
    padding: 5px 10px;
}
#Accueil .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Accueil .fas {
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}
#Accueil .fas.left {
    position: relative;
    left: -20px;
}
#Accueil .fas.left::before {
    position: relative;
    left: 5px;
}
#Accueil .fas.right {
    position: relative;
    right: -20px;
}
#Accueil .fas.right::before {
    position: relative;
    right: 5px;
}

.divider {
    color: #60AED1;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.divider::before,
.divider::after {
    content: "";
    border-top: 1px solid grey;
    width: 50px;
    display: block;
    margin: 0 5px;
}

#Services,
#Portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Services h2,
#Portfolio h2 {
    text-transform: uppercase;
}
#Services > p,
#Portfolio > p {
    width: 500px;
    text-align: center;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.8);
}
#Services .content {
    width: 960px;
    margin: 0 auto;
    display: flex;
}
#Services .content > div {
    flex: 1;
}
#Services .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Services .imgContainer img {
    max-width: 100%;
}
.serviceList {
    display: flex;
    flex-direction: column;
}
.serviceList .service {
    display: flex;
    margin: 0.5em 0;
}
.serviceList .service .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceList .service .icons .fas:first-child {
    border: 1px solid grey;
    border-radius: 50%;
    padding: 15px;
    color: #60AED1;
    font-size: 1.4em;
}
.serviceList .service .icons .fas:last-child {
    color: #60AED1;
    font-size: 0.8em;
    position: relative;
    left: calc(-0.5em - 2px);
    border: 2px solid #fff;
}
.serviceList .service h3 {
    margin: 0;
    font-size: 1em;
}
.serviceList .service p {
    margin: 0.4em 0;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.8);
}

#Portfolio {
    background-color: #F5F5F5;
}
#Portfolio .menu {
    display: flex;
    margin: 1em 0;
}
#Portfolio .menu button {
    background-color: #E5E5E5;
    border: 3px solid #E5E5E5;
    padding: 10px 15px;
    position: relative;
}
#Portfolio .menu button:hover,
#Portfolio .menu button.active {
    background-color: #60AED1;
    border-color: #60AED1;
    border-bottom-color: #498CAB;
    color: #fff;
}
#Portfolio .menu button:hover::after,
#Portfolio .menu button.active::after {
    content: "";
    width: 0;
    display: block;
    border: 5px solid #fff;
    border-top-color: #498CAB;
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#Portfolio .menu button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#Portfolio .menu button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#Portfolio .projets {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}
#Portfolio .projets figure {
    width: 25%;
    padding: 0.5em;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
#Portfolio .projets figure img{
    width: 100%;
}
#Portfolio figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: calc(0.5em + 5px);
    left: 0.5em;
    right: 0.5em;
    opacity: 0;
}
#Portfolio .projets figure:hover figcaption {
    opacity: 1;
}
#Portfolio figcaption h4,
#Portfolio figcaption p {
    margin: 0;
}
#Portfolio figcaption .fa-stack {
    position: absolute;
    top: -15px;
    right: 15px;
}
#Portfolio figcaption .fa-circle {
    color: #60AED1;
}
#Portfolio figcaption .fa-circle::before {
    border: 2px solid #fff;
    border-radius: 50%;
}
#Contact {
    position: relative;
}
#Contact::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(96, 173, 209, 0.3);
}
.formContainer {
    width: 960px;
    margin: 0 auto;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contactForm {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
}
.contactForm h4 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}
.contactForm h5 {
    margin: 0;
}
.contactForm p {
    margin: 0;
}
.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 0.4em;
    margin: 0.5em 0;
    box-sizing: border-box;
}
.contactForm textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm input[type="submit"] {
    background-color: #60AED1;
    color: #fff;
    width: inherit;
    border: 3px solid #60AED1;
    border-bottom-color: #498CAB;
    padding: 10px 15px;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
    }
    #Accueil .texte {
        width: 100%;
        padding: 2em;
    }
    #Services .content {
        width: 100%;
    }
    #Portfolio .projets {
        width: 100%;
    }
    #Portfolio .projets figure {
        width: 33.33333333%;
    }
    #Contact .formContainer {
        width: 100%;
    }
}

@media (max-width: 576px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav img {
        margin-bottom: 0.5em;
    }
    #Services > p, #Portfolio > p {
        width: 100%;
    }
    #Accueil .texte {
        padding: 0.1em;
        align-items: center;
    }
    #Accueil .texte h1 {
        width: 80%;
        font-size: 1em;
    }
    #Accueil .texte p {
        display: none;
    }
    #Services .content {
        flex-direction: column;
        align-items: center;
    }
    #Portfolio .projets figure {
        width: 100%;
    }
    #Contact .formContainer {
        position: relative;
    }
    #Contact .formContainer .contactForm {
        width: 100%;
    }
}